.profile {
  font-family: "Lato", sans-serif;
}
.profile__admins-requests {
  margin: 15px 10px;
  width: 100%;
  height: 180px;
  overflow: scroll;
}
.profile__admins-requests-acept {
  color: green;
}
.profile__admins-requests-reject {
  color: red;
}
.profile__admins-requests-reporter {
  color: black;
}
.profile__admins-requests-reporter:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}
.profile__admins-requests-acept:hover {
  cursor: pointer;
  text-decoration: underline;
}
.profile__admins-requests-reject:hover {
  cursor: pointer;
  text-decoration: underline;
}
.stories {
  margin: 15px 10px;
  width: 100%;
  height: 220px;
  overflow: scroll;
}
.stories__description:hover {
  font-weight: bolder;
  cursor: pointer;
}
.stories__title {
  font-size: 20px;
}
.stories__subtitle {
  font-size: 15px;
}
.stories__date {
  font-size: 14px;
  padding-top: 3px;
}
.stories__emoji {
  cursor: pointer;
}
.profile__profit {
  font-size: 20px;
  color: green;
}
